@font-face {
   font-family: 'omyu_pretty';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
   font-weight: normal;
   font-style: normal;
}
.flexBox{
   display: flex;
   .flexItem{
      width: 50%;
   }
}
.mySwiper{
   font-family: 'omyu_pretty';
   position: relative;
   z-index: 48;
   width: 100%;
   height: 100%;
   
   
   top: 0;
   left: 0;
   .slide{
      position: relative;
      
      /* background: #fff; */
      border-radius: 20px;
      height: 60vh;
      
   }
   
}
.project-title{
   text-align: center;
   padding: 2rem 0;
   font-size: 2.5rem;
   color: #4b4b4b;
   margin-bottom: 2rem;

}
.project-item{
   display: flex;
   height: 80%;
   
}
.project-imgBox{
   width: 50%;
   .project-img{
      margin: 0 auto;
      width: 80%;
      padding: 0 4rem;
      img{
         width: 100%;
      }
   }
}
.project-info{
   width: 50%;
   .infoTitle{
      color: #000;
      font-size: 2rem;
      font-family: 'omyu_pretty';
      display: inline-block;
      position: relative;padding: 5px 0px;
      padding-left: .5rem;
      &::after{
         position: absolute;
         left: 0;
         bottom: 0;
         content: "";
         width: 140%;
         height: 2px;
         border-radius: 50%;
         background: #fff;
      }
   }
}
.info-item{
   display: flex;
   padding: 2rem 1rem;
   font-size: 1.7rem;
   font-family: 'omyu_pretty';

   img{
      padding: 1rem;
      width: 6.4rem;
      height: 6.4rem;
   }
}
