@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Myeongjo&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  
  .sectionTitle{
    z-index: 50;
    color: #fff;
    letter-spacing: 5px;
    font-weight: normal;;
    
  }
}

.sectionTitle{
  font-size: 4rem;
  color: #a5a5a5;
  margin-top: 9rem;
  height: 7%;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
}
.section{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 5rem;
  padding-top: 7rem;
  z-index: 49;
  /* background: url(../public/img/back1.gif) no-repeat center/cover; */
  position: relative;
}
.conSection{
  &::after {
    content: "";
    width: 90%;
    height: 100vh;
    position: absolute;
    left: 50%;
    background: #ffffff6c;
    top: 50%;
    transform: translate(-50%, -50%) ;
    transition: .5s ; /* transform 속성에 대한 트랜지션 설정 */
    z-index: 47;
  }
  .sectionBg{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 15% 50%;
    width: 100%;
    height: 100vh;
    border-radius: 50%;
    transform: scale(0);
    transition: .5s linear;
    z-index: 45;
    opacity: 0;
    &.sectionBg1{
      background-image: linear-gradient(150deg, rgb(223 170 188) 35%,rgb(220 220 220) 65%);
    }
    &.sectionBg2{
      background-image: linear-gradient(150deg, rgb(170, 195, 223) 35%,rgb(220 220 220) 65%);
    }
    &.sectionBg3{
      background-image: linear-gradient(150deg, rgb(143, 143, 143) 35%,rgb(220 220 220) 65%);
    }
  }
}
.sectionActive{
  &::after {
    width: 100%;
    height: 70%;
    
  }
  .sectionBg{
    transform: scale(1);

    border-radius: 0;
    opacity: .8;
  }
}
.FlowText{
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: -40%;
  z-index: 33;
  .cover {
    
    width: 100vw;
    margin-bottom: 10rem;
    display: flex;
    p {
      display: flex;
      padding: .5rem 0;
      font-size: 30rem;
      /* font-family: "Pacifico", cursive; */
    }
    &:nth-child(1) {
      box-sizing: border-box;
          margin-top: 5vh;
          transform: rotate(-2deg);
          background: none;
          color: #ffffff41;
          letter-spacing: 0;

      }
      &:nth-child(2) {
          display: none;
          transform: rotate(2deg);
          background: none;
          justify-content: flex-end;
          color: #fff;
          margin-bottom: 5vh;
      }
  }
}


.app {
  font-family: 'Nanum Myeongjo', serif;
  //헤더
  background: #ddd;
   .header {
      z-index: 55;
      width: 100%;
      position: fixed;
      top: 0;left: 0;
      margin-top: 5rem;
      /* background: #ffffff13; */
      /* box-shadow: 0 2px 10px #ffffff71; */
      .container {
         
         height: 7rem;
         display: flex;
         justify-content: right;
         .logo {
            width: 25rem;
            background: url(../public/img/logo1.png) no-repeat center center/100%;
            height: 100%;
            filter: invert(100) brightness(.8);
         }
         .nav {
            height: 100%;
            ul {
               display: flex;
               height: 100%;
               justify-content: right;
               list-style: none;
               align-items: center;

               li {
                  position: relative;
                  z-index: 101;
                  width: 20rem;
                  height: 100%;
                  text-align: center;
                  font-size: 2.3rem;
                  color: #fff;
                  text-shadow: 0px 2px 5px #000000bb;
                  a{
                    position: relative;
                    z-index: 111;
                    display: block;
                    width: 100%;
                    align-items: center;

                  }
                  .MenuActive{
                    color: #000;
                  }
                  .MenuActiveR{
                    color: #fd0808;
                  }
                  .MenuActiveB{
                    color: #3508fd;
                  }
               }
            }
         }
      }
   }
   //Section1
   .section1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: 50px;
    padding-top: 15rem;
    background: #ddd;
    background: url(../public/img/skybackground.jpg) no-repeat center/cover;
    position: relative;
    /* .sectionBg{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #ddd;
      z-index: 2;
    } */
    .container{z-index: 3;
    flex-direction: column;
    .mouse{
        position: absolute;
        bottom: 5%;
        left: 50%;
        font-size: 3rem;
        color: #00000054;
        animation: move .7s alternate infinite;
      }
      .intro{

        width: 100%;
        text-align: right;
        padding-right: 7%;
        margin-top: 3.5%;
        font-weight: 400;
        position: relative;
        
        animation-name: title1;
        animation-duration: 2s;

        h2{
          font-weight: bold;
          &.firstTitle{right: 200%;}
          &.secondTitle{left: 200%;}
          margin-left: 3rem;
          margin-bottom: 20px;
          /* background: linear-gradient(to right top, #24e5ff, #ffa69e); */
          /* background: linear-gradient(to right top, #41d8bf, #f588ff);
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text; */
          color: #ffffff;
          text-shadow: 0 4px 5px #00000054;
          /*   */
          
          font-size: 13rem;
          position: relative;
          display: inline-block;
          /* &::after{
            position: absolute;
            bottom: -20px;
            left: 0;
            content: "";
            width: 120%;
            height: 2px;
            background: #fff;
          } */
          
          
          strong{
            font-size: 10rem;
            font-weight: 700;
          }
        }
      }
      .portfolio{
        /* background: beige; */
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: start;
        opacity: 0;
        animation-name: title2;
        animation-delay: 2s;
        animation-duration: 2s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-fill-mode: both;
        .portfolioTitle{
          color: #fff;
          font-size: 6rem;
          font-style: italic;
          padding-left: 5%;
          letter-spacing:10px;
          /* font-family: 'Dancing Script', cursive; */
          /* font-family: 'Caveat', cursive; */
          font-weight: 700;
          text-shadow: 0 2px 2px #22222288;
          /* background: linear-gradient(to right top, #41d8bf, #f588ff);
          color: transparent;
          background-clip: text;
          -webkit-background-clip: text; */
          
        }
      }
    }
   }
   .section2{
    &.sectionActive{

      &::after {
        width: 100%;
        height: 70%;
        
      }
    }
    .container{
      flex-direction: column;
      z-index: 60;
      justify-content: start;
      .sectionTitle{height: 7%;}
      .aboutArea{
        display: flex;
        justify-content: space-between;
        height: 70%;
        opacity: 0;
        transition: .7s;
        transition-delay: .7s;
        position: relative;
        bottom: -10%;
        .myProfileImg{
          width: 35%;
          padding: 2rem;
          padding-left: 0;
          display: flex;
          align-items: center;
          justify-content: right;
          img{
            width: 80%;
            height: 100%;
            border-radius: 15px;
          }
        }
        .myProfile{
          width: 60%;
          display: flex;
          flex-direction: column;
          .myProfileText{
            display: flex;
            height: 30%;
            align-items: center;
            justify-content: center;
            font-size: 2.5rem;
          }
          .myProfileInfo{
            display: flex;
            justify-content: end;
            flex-direction: column;
            padding-bottom: 3rem;
            height: 70%;
            padding: 2.5rem;
            .infoTitle{
              font-size: 2.5rem;
              margin-bottom: .5rem;
              margin-top: 2rem;
            }
            .infoText{
              font-size: 2.3rem;
              padding-left: .5rem;

            }
          }
        } 
      }
      .activeAboutArea{
        opacity: 1;
        bottom: 0;
        
      }
    }
   }
  .section3{
    
    
    
    .container{
      flex-direction: column;
      justify-content: start;
      z-index: 60;
      .skillsArea{
        opacity: 0;
        position: relative;
        bottom: -10%;
        transition: .7s;
        transition-delay: .7s;
        height: 80%;
        &.activeskillsArea{
          opacity: 1;
          bottom: 0;
        }
        .skill-content{
          display: flex;
          height: 100%;
          @media screen and ( max-width:580px) {
            width: 100%;
            flex-direction: column;
            height: 50%;
          }
          .skills-box{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            box-sizing: border-box;
            @media screen and ( max-width:580px) {
              width: 100%;
              
            }
            .skills-item{
              height: 50%;
              margin-bottom: 5rem;
              .skills-title{
                font-size: 3.5rem;
                color: #818080;
                padding: 1rem;
                text-align: center;

              }
              .item-list{
                display: flex;
                height: 70%;
                padding: 2rem;
                box-sizing: border-box;
                flex-wrap: wrap;
                justify-content: center;
                .skill-item{
                  width: 15%;
                  height: 100%;
                  margin-right: 2rem;
                  img{
                    width: 100%;
                  }
                }
                
              }
            }
          }
        }
      }
    }

    
    
    
    
  }
  .section4{
    flex-direction: column;
    
    
    .container{
      
    }

    
    
    
    
  }
  }

@keyframes title1 {
  0%{
    top: -100%;
    opacity: 0;
    filter: blur(10px);
  }
  40%{
    opacity: 0;
  }
  100%{
    top: 0;
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes title2 {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes move {
  0%{
    bottom: 5%;
  }
  100%{
    bottom: 6%;
  }
}