*{padding: 0; margin: 0; }

div,p,h1,h2,h3,em,strong{box-sizing: border-box;}

html{
  font-size: calc(0.42vw + 2px);
}

/* @media screen and (max-width:1024px) {
  html{
    font-size: calc(0.42vw + 3px);
  }  
}

@media screen and (max-width:768px) {
  html{
    font-size: calc(0.42vw + 4px);
  }  
} */